{% extends 'base.html' %}

{% block content %}
<h1>Create a short URL</h1>

<form action="" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="redirect_url" class="form-label">Redirect URL</label>
        <input name="redirect_url" type="url" class="form-control" id="redirect_url" aria-describedby="redirect_url_help" placeholder="https://example.com">
        <div id="redirect_url_help" class="form-text">Enter the URL you would like to shorten. Note: the URL must start with "http://"" or "https://"</div>
    </div>

    <button type="submit" class="btn btn-outline-success">Save</button>
</form>

{% endblock content %}