{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1 class="fs-2">
    URL detail
    <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteShortUrlModal">Delete</button>
</h1>

<p>Bookmark this page to view visit counts for this short URL.</p>

<dl>
    <dt>Short URL</dt>
    <dd><a href="{{ full_url }}">{{ full_url }}</a></dd>
    <dt>Redirect to</dt>
    <dd><a href="{{ shorturl.redirect_url }}">{{ shorturl.redirect_url }}</a></dd>
</dl>

{% if analytics %}
    <div id="chart"></div>

    {{ analytics|json_script:"analytics" }}
{% else %}
    <p>No visitors yet. Check back later for daily visitor counts.</p>
{% endif %}


<!-- Modal -->
<div class="modal fade" id="deleteShortUrlModal" tabindex="-1" aria-labelledby="deleteShortUrlModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteShortUrlModalLabel">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            <p>This action is irreversable.</p>
            <p>Are you sure you want to delete this short URL and related visit counts? </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            
            <!-- send POST directly to delete URL since we are using confirmation modal -->
            <form method="POST" action="{% url 'short-url-delete' shorturl.slug %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Yes">
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.4.2/d3.min.js" integrity="sha512-3lwhBbuZju4M2+VWgp4BEisEYHToIvEte8a3Ygg1EmtXKFWkHCc6aNvAaQdztsPBSdxbF2i2UVbaxke62tc6tA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
<script src="{% static 'js/visits_chart.js' %}"></script>
{% endblock extra_js %}