{% extends 'base.html' %}

{% block content %}
<h1 class="fs-2">Create a short URL</h1>

<form action="" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="redirect_url" class="form-label">Redirect URL*</label>
        <input name="redirect_url" type="url" class="form-control" id="redirect_url" aria-describedby="redirect_url_help" placeholder="https://example.com">
        <div id="redirect_url_help" class="form-text">Enter the URL you would like to shorten. Note: the URL must start with "http://"" or "https://"</div>
        {% if form.redirect_url.errors %}
            <div class="alert alert-warning p-1" role="alert" style="width: 16em;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                Redirect URL field is required
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-outline-success">Save</button>
</form>

{% endblock content %}